
*.xcuserstate

*.xcbkptlist

절약왕소희.xcodeproj/project.xcworkspace/xcuserdata/SH.xcuserdatad/UserInterfaceState.xcuserstate

절약왕소희.xcodeproj/xcuserdata/SH.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
